body {
	background-image: url(images/fond.jpg);
	background-size: cover;
}

@font-face {
    font-family: 'sf pro'; /*a name to be used later*/
    font-weight: 200;
    src: url('font/SF Pro/SF-Pro-Display-Thin.otf'); /*URL to font*/
}

a {
	color: white;
	font-family: 'sf pro';
	font-weight: 150;
}

.my-navbar {
	color: grey;
}

p {
	margin: auto;
	text-align: center;
}
h1 {
	text-align: center;
}
.my-card {
	height: 60vh;
}
.streamer-image {
	height: 50%;
	object-fit: cover;
}

.my-jumbotron {
	/*height: 5vh;*/
	padding: 1rem 1rem;
}
